[submodule "cycript/libcycript"]
	path = cycript/libcycript
	url = git://git.saurik.com/cycript.git
[submodule "cycript/libffi-iOS"]
	path = cycript/libffi-iOS
	url = https://github.com/zwaldowski/libffi-iOS.git
